<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/list.css" type="text/css">
    <script language="JavaScript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript">
$(function(){
    $("tr:nth-child(odd)").addClass("odd");
    $("tr:nth-child(even)").addClass("even");
});
    </script>
    <title><%= @name %></title>
  </head>
  <body>
    <div class="title">
      <div class="title2">
        <span class="title"><%= @name %></span>
        <div class="delete"><a href="/<%= @name %>/recover">削除したメッセージを回復</a></div>
      </div>
    </div>
    <div class="list">
      <table class="list">
        <% @ids.each { |id| %>
          <tr>
            <td class="date"><%= @date[id] %></td>
	    <td class="subject"><a href="/<%= @name %>/<%= id %>"><%= @subject[id] %></a></td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>

