<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/message.css" type="text/css">
    <title></title>
  </head>
  <body>
    <div class='top'>
      <div class="delete"><a href="/<%= @name %>/<%= @id %>/delete">このメッセージを削除</a></div>
    </div>
    <br clear="all">
    <div class='header'>
      <b>To: </b><%= @to %><br>
      <b>From: </b><%= @from %><br>
      <b>Subject: </b><%= @subject %><br>
    </div>
<%= @html %>
  </body>
</html>

